<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>

</head>
<body>
<h1><a href="/admin/article/add">新增文章</a></h1>
<h1><a href="/admin/article/list">文章列表</a></h1>


<h1><a href="/admin/category/add">新增类目</a></h1>
<h1><a href="/admin/category/list">类目列表</a></h1>
</body>
</html>