<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src='/bootstrap/js/bootstrap.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!--头部 开始-->
    <header class="container-fluid">
      <h1>h1. Bootstrap heading <small>Secondary text</small></h1>

    </header>
    <!--头部 开始-->





      <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
      <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
      <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
      <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
      <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
      <h6>h6. Bootstrap heading <small>Secondary text</small></h6>








  </body>
</html>
