<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!--头部 开始-->
    <header>

    </header>
    <!--头部 开始-->








  </body>
</html>
