<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>

</head>
<body>
    <h1>admin</h1>

    <form action="/admin/category/addData" method="post">
        <h1>类目新增</h1>
        <p>类目名称: <input type="text" name="categoryName"></p>
        <p><input type="submit" value="提交"></p>
    </form>

    <hr/>



</body>
</html>