<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src='/bootstrap/js/bootstrap.js'></script>
    <script src='/javascripts/TweenMax.min.js'></script>
    <script src='/javascripts/index.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!--头部 开始-->
    <header class="container-fluid">
      <!--logo部分 开始-->
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <a href="#" class="logo"><img src="/images/logo.png" alt="" class="img-thumbnail"></a>
        </div>
        <div class="col-sm-8 col-md-4 hidden-xs">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          <a href="#" class="gg1"><img src="/images/gg001.png" alt=""></a>
        </div>
      </div>
      <!--logo部分 结束-->
    </header>
    <!--头部 开始-->

    <!--导航条 开始-->
    <nav class="navbar navbar-default navigator" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">企业主题</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">博客主题 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--导航条 结束-->



    <!--公告信息 开始-->
    <div class="notice">
      <ul class="list-group">
        <li class="list-group-item"><a href="#">高效、专业、符合SEO优化wordpress建站，首选翠竹林wordpress主题，大气，简洁，清新。点击：翠竹林wordpress主题 QQ：458940846，985300418</a></li>
        <li class="list-group-item"><a href="#">高效、专业、符合SEO优化wordpress建站，首选翠竹林wordpress主题，大气，简洁，清新。点击：翠竹林wordpress主题 QQ：458940846，985300418</a></li>
        <li class="list-group-item"><a href="#">高效、专业、符合SEO优化wordpress建站，首选翠竹林wordpress主题，大气，简洁，清新。点击：翠竹林wordpress主题 QQ：458940846，985300418</a></li>
      </ul>
    </div>

    <!--公告信息 结束-->



    <!--左侧布局 开始-->
    <div class="container content">
      <div class="row">
        <div class="col-lg-8 col-lg-69 col-sm-12 col-xs-12 contentLeft">
          <!--面包屑导航 开始-->
          <div class="row contentMB">
            <ol class="breadcrumb">
              <li><a href="#"><i class="glyphicon glyphicon-home"></i>Home</a></li>
              <li><a href="#">Library</a></li>
              <li class="active">List</li>
            </ol>
          </div>
          <!--面包屑导航 结束-->

          <!--文章列表页 开始-->
          <div class="row articleList">
            <ul class="list-group">
              <li class="list-group-item">
                <h3><a href="#">字符串替换函数str_replace() 与正则表达式替换函数ereg_replace()的使用方法的使用方法的使用方法的使用方法</a></h3>
                <div class="row articleListB">
                  <div class="col-lg-4 articleListBImg">
                    <a href="#"><img src="http://www.cuizl.com/wp-content/themes/bamboo/timthumb.php?src=http://www.cuizl.com/wp-content/themes/bamboo/img/pic/2.jpg&h=123&w=200&q=90&zc=1&ct=1" alt=""></a>
                  </div>
                  <div class="col-lg-8 articleListBTitle">
                    <p>上一篇文章：wordpress主题开发：导航菜单函数wp_nav_menu()使用方法中设计到两个函数str_replace()与ereg_replace()，
                      本篇文章针对这两个函数的使用方法进行讲解。
                      str_replace() 函数是字符串替换函数 实例
                      把字符串 “Hello world!” 中的字符 “world
                      &……<span class="continue"><a href="#">继续阅读 »</a></span></p>

                    <ul class="list-group articleLabel">
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-user"></i>小军</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-time"></i>2016-9-26</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-eye-open"></i>579次浏览</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-comment"></i>0个评论</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <h3><a href="#">字符串替换函数str_replace() 与正则表达式替换函数ereg_replace()的使用方法的使用方法的使用方法的使用方法</a></h3>
                <div class="row articleListB">
                  <div class="col-lg-4 articleListBImg">
                    <a href="#"><img src="http://www.cuizl.com/wp-content/themes/bamboo/timthumb.php?src=http://www.cuizl.com/wp-content/uploads/2015/09/2015092202101360.jpg&h=123&w=200&q=90&zc=1&ct=1" alt=""></a>
                  </div>
                  <div class="col-lg-8 articleListBTitle">
                    <p>上一篇文章：wordpress主题开发：导航菜单函数wp_nav_menu()使用方法中设计到两个函数str_replace()与ereg_replace()，
                      本篇文章针对这两个函数的使用方法进行讲解。
                      str_replace() 函数是字符串替换函数 实例
                      把字符串 “Hello world!” 中的字符 “world
                      &……<span class="continue"><a href="#">继续阅读 »</a></span></p>

                    <ul class="list-group articleLabel">
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-user"></i>小军</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-time"></i>2016-9-26</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-eye-open"></i>579次浏览</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-comment"></i>0个评论</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <h3><a href="#">字符串替换函数str_replace() 与正则表达式替换函数ereg_replace()的使用方法的使用方法的使用方法的使用方法</a></h3>
                <div class="row articleListB">
                  <div class="col-lg-4 articleListBImg">
                    <a href="#"><img src="http://www.cuizl.com/wp-content/themes/bamboo/timthumb.php?src=http://www.cuizl.com/wp-content/uploads/2016/06/2016061703334534.jpg&h=123&w=200&q=90&zc=1&ct=1" alt=""></a>
                  </div>
                  <div class="col-lg-8 articleListBTitle">
                    <p>上一篇文章：wordpress主题开发：导航菜单函数wp_nav_menu()使用方法中设计到两个函数str_replace()与ereg_replace()，
                      本篇文章针对这两个函数的使用方法进行讲解。
                      str_replace() 函数是字符串替换函数 实例
                      把字符串 “Hello world!” 中的字符 “world
                      &……<span class="continue"><a href="#">继续阅读 »</a></span></p>

                    <ul class="list-group articleLabel">
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-user"></i>小军</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-time"></i>2016-9-26</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-eye-open"></i>579次浏览</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-comment"></i>0个评论</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <h3><a href="#">字符串替换函数str_replace() 与正则表达式替换函数ereg_replace()的使用方法的使用方法的使用方法的使用方法</a></h3>
                <div class="row articleListB">
                  <div class="col-lg-4 articleListBImg">
                    <a href="#"><img src="http://www.cuizl.com/wp-content/themes/bamboo/timthumb.php?src=http://www.cuizl.com/wp-content/uploads/2016/07/2016070107284234.jpg&h=123&w=200&q=90&zc=1&ct=1" alt=""></a>
                  </div>
                  <div class="col-lg-8 articleListBTitle">
                    <p>上一篇文章：wordpress主题开发：导航菜单函数wp_nav_menu()使用方法中设计到两个函数str_replace()与ereg_replace()，
                      本篇文章针对这两个函数的使用方法进行讲解。
                      str_replace() 函数是字符串替换函数 实例
                      把字符串 “Hello world!” 中的字符 “world
                      &……<span class="continue"><a href="#">继续阅读 »</a></span></p>

                    <ul class="list-group articleLabel">
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-user"></i>小军</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-time"></i>2016-9-26</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-eye-open"></i>579次浏览</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-comment"></i>0个评论</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <h3><a href="#">字符串替换函数str_replace() 与正则表达式替换函数ereg_replace()的使用方法的使用方法的使用方法的使用方法</a></h3>
                <div class="row articleListB">
                  <div class="col-lg-4 articleListBImg">
                    <a href="#"><img src="http://www.cuizl.com/wp-content/themes/bamboo/timthumb.php?src=http://www.cuizl.com/wp-content/themes/bamboo/img/pic/8.jpg&h=123&w=200&q=90&zc=1&ct=1" alt=""></a>
                  </div>
                  <div class="col-lg-8 articleListBTitle">
                    <p>上一篇文章：wordpress主题开发：导航菜单函数wp_nav_menu()使用方法中设计到两个函数str_replace()与ereg_replace()，
                      本篇文章针对这两个函数的使用方法进行讲解。
                      str_replace() 函数是字符串替换函数 实例
                      把字符串 “Hello world!” 中的字符 “world
                      &……<span class="continue"><a href="#">继续阅读 »</a></span></p>

                    <ul class="list-group articleLabel">
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-user"></i>小军</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-time"></i>2016-9-26</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-eye-open"></i>579次浏览</a></li>
                      <li class="list-group-item col-lg-3"><a href="#"><i class="glyphicon glyphicon-comment"></i>0个评论</a></li>
                    </ul>
                  </div>
                </div>
              </li>


            </ul>
          </div>
          <!--文章列表页 结束-->


          <!--文章分页 开始-->
          <div class="row pagers">
            <nav class="pager">
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </nav>
          </div>
          <!--文章分页 结束-->






          <!--最新内容 开始-->
          <div class="row newContent">
            <h3>最新内容</h3>
            <ul class="list-group">
              <li class="list-group-item col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">翠竹林“wordpress主题”关键词必应排名第一页记录</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">wordpress使用教程-如何设置顶部菜单导航栏</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">翠竹林官网品牌词有两个页面进入百度第一页</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">wordpress cms主题是什么意思自媒体个人博客</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">wordpress模板panda使用指南</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">wordpress生成的url是中文如何解决</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">翠竹林品牌词百度相关搜索数据变化记录</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">wordpress教程-文章部分内容登陆后可见</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">wordpress使用教程-如何设置置顶文章</a>
              </li>
              <li class="list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-minus"></i>
                <a href="#">黑科技响应式自媒体杂志wordpress个人反反复复凤飞飞博客主题：Panda</a>
              </li>
            </ul>
          </div>
          <!--最新内容 结束-->


          <!--猜你还喜欢 开始-->
          <!--练习作品集锦 开始-->
          <div class="row qyzt">
            <h3>练习作品集锦</h3>
            <ul class="list-group">
              <li class="list-group-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="#">
                  <img src="/images/timg.jpeg" alt="" class="img-responsive">
                </a>
                <div class="qyztitle">
                  <p>标题时好时坏</p>
                </div>

              </li>
              <li class="list-group-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="#">
                  <img src="/images/t1.jpg" alt="" class="img-responsive">
                </a>
                <div class="qyztitle">
                  <p>标题时好时坏</p>
                </div>
              </li>
              <li class="list-group-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="#">
                  <img src="/images/t2.jpg" alt="" class="img-responsive">
                </a>
                <div class="qyztitle">
                  <p>标题时好时坏</p>
                </div>
              </li>
              <li class="list-group-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="#">
                  <img src="/images/t3.jpg" alt="" class="img-responsive">
                </a>
                <div class="qyztitle">
                  <p>标题时好时坏标题时好时坏标标题时好时坏标题时好时坏标题时好时坏题时好时坏标题时好时坏标题时好时坏</p>
                </div>
              </li>
              <li class="list-group-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="#">
                  <img src="/images/t6.jpg" alt="" class="img-responsive">
                </a>
                <div class="qyztitle">
                  <p>标题时好时坏</p>
                </div>
              </li>
              <li class="list-group-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="#">
                  <img src="/images/t5.jpg" alt="" class="img-responsive">
                </a>
                <div class="qyztitle">
                  <p>标题时好时坏</p>
                </div>
              </li>

            </ul>
          </div>
          <!--练习作品集锦 结束-->
          <!--猜你还喜欢 结束-->



          <!--tab切换页 开始-->

          <!--tab切换页 结束-->




          <!--原生js示例 开始-->

          <!--
          nodeBlog目录下
          /Users/mac/Desktop/nodeBlog/public/stylesheets
          进入stylesheets目录下, 就可以执行sass编译scss文件了,
          sass style.scss style.css
          使用翻转特效

          使用svg画边框,js控制
          -->
          <!--原生js示例 结束-->

        </div>
        <!--<div class="col-lg-4 col-lg-30 contentRight hidden-sm hidden-xs">-->
        <div class="col-lg-4 col-lg-30 contentRight hidden-xs">

          <!--广告列表 开始-->
          <div class="row contentRightRow">
            <a href="#">
              <img src="/images/peixun.jpg" alt="" class="img-responsive">
            </a>
          </div>
          <div class="row contentRightRow">
            <a href="#">
              <img src="/images/gg002.jpg" alt="" class="img-responsive">
            </a>
          </div>
          <!--广告列表 结束-->

          <!--热门文章 开始-->
          <div class="row hotArticle">
            <h4>热门文章</h4>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">wordpress安装教程：十分钟学会安装wordpress</a></li>
              <li class="list-group-item"><a href="#">10个优秀的wordpress主机空间推荐</a></li>
              <li class="list-group-item"><a href="#">wordpress使用教程-如何设置顶部菜单导航栏</a></li>
              <li class="list-group-item"><a href="#">wordpress个人博客SEO第三步：优化网站URL</a></li>
              <li class="list-group-item"><a href="#">wordpress使用教程-如何安装wordpress主题</a></li>
              <li class="list-group-item"><a href="#">使用WP Super Cache插件为wordpress提速</a></li>
              <li class="list-group-item"><a href="#">wordpress固定链接设置之后404解决方法</a></li>
              <li class="list-group-item"><a href="#">wordpress数据库缓存插件DB Cache Reloaded没有激活解决方法</a></li>
              <li class="list-group-item"><a href="#">wordpress如何屏蔽过滤垃圾评论</a></li>
              <li class="list-group-item"><a href="#">翠竹林wordpress主题网正式开放robots.txt允许蜘蛛抓取</a></li>
            </ul>
          </div>
          <!--热门文章 结束-->



          <!--分类目录 开始-->
          <div class="row fenlei">
            <h4>分类目录</h4>
            <ul class="list-group">
              <li class="list-group-item col-lg-6">
                <a href="#" class="stage">php基础</a>
              </li>
              <li class="list-group-item col-lg-6">
                <a href="#" class="stage">php基础</a>
              </li>
              <li class="list-group-item col-lg-6">
                <a href="#" class="stage">php基础</a>
              </li>
              <li class="list-group-item col-lg-6">
                <a href="#" class="stage">php基础</a>
              </li>
              <li class="list-group-item col-lg-6">
                wordpress
              </li>
              <li class="list-group-item col-lg-6">CMS主题</li>
              <li class="list-group-item col-lg-6">seo</li>
              <li class="list-group-item col-lg-6">wordpress企业主题</li>
              <li class="list-group-item col-lg-6">wordpress博客主题</li>
              <li class="list-group-item col-lg-6">wordpress开发</li>
              <li class="list-group-item col-lg-6">wordpress插件</li>
              <li class="list-group-item col-lg-6">wordpress教程</li>
            </ul>
          </div>
          <!--分类目录 结束-->



          <!--文章推荐 开始-->
          <!--文章推荐 结束-->



          <!--热门标签 开始-->
          <!--热门标签 结束-->


          <!--访问记录 开始-->
          <!--访问记录 结束-->


          <!--友情外链 开始-->
          <!--友情外链 结束-->

          <!--
            音乐播放
            视频播放

            js特效案例
            canvas特效案例
            svg特效案例
            jquery特效案例
            博文列表
            博文按日期统计数量
            app的ios和Android的demo, 其中再包含两个操控手机设备端口的应用


          -->

        </div>
      </div>
    </div>
    <!--右侧布局 结束-->





  <!--网站底部 开始-->
    <footer>
      <div class="row">
        <p>收费服务 | wordpress入门 | wordpress主题开发教程|Theme By翠竹林wordpress主题 粤ICP备15011079号</p>
      </div>
      <div class="row">
        <p>本站提供wordpress个人博客主题，中文企业主题，CMS主题，淘宝客主题，英文外贸WP模板下载以及定制 站长统计</p>
      </div>
    </footer>
  <!--网站底部 结束-->

  </body>
</html>
